{% extends 'base.html' %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>{% block title %} Search {% endblock %}</title>

{% block content %}

    <div class="card">
      <div class="card-header">
        <p class="font-weight-bold">Title: {{title}}</p>
          <p class="font-weight-bold">Authors: {{authors}}</p>
          <p class="font-weight-lighter">Date of Publication: {{pubdate}}</p>
          <p class="font-weight-lighter">Keywords: {{keywords}}</p>
          <a href="{% url 'tagpage' article.articleid %}">  <p class="font-weight-bold">Tag this article</p></a>
          <p class="font-weight-bold">Already added tags for this article:
            {% for tag_fields in article.tags.all %}
                  <a href="{{ tag_fields.taglink }}">{{tag_fields.name}},</a>
            {% endfor %}
          </p>
      </div>
      <div class="card-body">
          <p class="font-weight-bold">Abstract:</p>
        <p class="font-weight-normal">{{abstract}}</p>

      </div>

         <style>
      hr {
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: #b7d0e2;
      }
    </style>
        <hr />
    </div>

{% endblock %}
