{% extends 'base.html' %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>{% block title %} Search {% endblock %}</title>

{% block content %}

   {% if q %}

    <div class="p-3 mb-2 bg-info text-white">
        {% with results.count as total_results %}
        {{ total_results }} article{{ total_results|pluralize }} found which contains "{{ q }}"
        {% endwith %}
    </div>


    {%for post in results %}
    <div class="card">
      <div class="card-header">
          <a href="{% url 'detailpage' post.PM_id %}">{{ post.PM_id }}</a>
        <p class="font-weight-bold">Title:</p> {{post.title}}
          <p class="font-weight-bold">Authors:</p> {{post.authors}}
          <p class="font-weight-bold">Date of Publication:</p> {{post.publication_date}}
      </div>
      <div class="card-body">
          <p class="font-weight-bold">Abstract:</p>
        <p class="card-text">{{post.abstract}}</p>
      </div>
              <div class="card-header">
        <p class="font-weight-bold">Keywords:</p> {{post.keywords}}
      </div>
        <hr size="10" width="100%" color="black">
    </div>
    {% empty %}
    <p>There is no articles matches with your search. </p>
    {% endfor %}
    <p><a href="{% url "post_search" %}" class="btn btn-primary" role="button" aria-disabled="true">New
            Search</a>
    </p>

    {% else %}
    <h3 >
      Search
      <small class="text-muted">articles now!</small>
    </h3>


    <form method="get">
        {{ form.as_p }}
        <input class="btn btn-primary my-1" type="submit" value="Search ">
    </form>
   {% endif %}
{% endblock %}
